alembic
blinker
Click
coverage
dominate
epub-meta
filetype
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
gunicorn
itsdangerous
Jinja2
langdetect
Mako
MarkupSafe
pycountry
PyPDF2
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
visitor
Werkzeug
WTForms
