{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - {% endif %}VerySimpleLibrary
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">VSL</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        {% if not current_user.is_anonymous %}
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('books.overview') }}">Books</a></li>
            {% if current_user.admin %}
              <li><a href="{{ url_for('admin.admin') }}">Admin</a></li>
            {% endif %}
          </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          {% else %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container" id="messages">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="container" id="app-content">
      {% block app_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
